body {
  font-family: "Courier", monospace; /* Apply Courier as the default body font */
  font-size: 16px; /* Sets the font size to 16 pixels */
  margin: 5% 10%; /* Top and bottom margins set to 5%, left and right margins to 10% */
  text-align: left; /* Ensure all text is left-aligned */
  max-width: 700px; /* Maximum width of the content */
  margin-left: auto; /* Center the content block horizontally */
  margin-right: auto; /* Center the content block horizontally */
  padding-left: 2px; /* Adds padding to the left */
  padding-right: 2px; /* Adds padding to the right */
  background-color: #ffffff; /* Sets the background color to #121212 */
  color: #212121; /* Sets the text color to white */
  line-height: 1.5; /* Sets the line height to 1.6 times the font size */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif; /* Apply Helvetica as the default font for headers */
  font-weight: bold; /* Make headers bold */
}

/* Style for links */
a {
  color: #202020; /* Sets the link color to #5cc9eb */
}

@media (max-width: 768px) {
  body {
    padding-left: 11px; /* Slightly more padding on smaller screens */
    padding-right: 11px; /* Slightly more padding on smaller screens */
  }
}

/* For most browsers */
::selection {
  background: rgb(23, 201, 255); /* Background color for selected text */
  color: black; /* Text color for selected text */
}

/* For Mozilla Firefox */
::-moz-selection {
  background: rgb(249, 249, 79);
  color: black;
}
