body {
  font-family: "Times", Times, serif;
  font-size: 20px; /* Sets the font size to 20 pixels */
  margin: 5% 10%; /* Top and bottom margins set to 5%, left and right margins to 10% */
  text-align: left; /* Ensure all text is left-aligned */
  max-width: 600px; /* Maximum width of the content */
  margin-left: auto; /* Center the content block horizontally */
  margin-right: auto; /* Center the content block horizontally */
  padding-left: 2px; /* Adds padding to the left */
  padding-right: 2px; /* Adds padding to the right */
  background-color: #ffffff; /* Sets the background color */
  color: #000000; /* Sets the text color */
  line-height: 1.5; /* Sets the line height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Apply Helvetica as the default font for headers */
  font-weight: bold; /* Make headers bold */
}

h1 {
  margin-bottom: 0; /* Remove the space below the h1 */
}

h4 {
  margin-top: 0; /* Remove the space above the h4 */
  font-size: 20px; /* Adjust the size as needed */
  color: #000000; /* Grey text color */
  margin-bottom: 5px; /* Adjust the space below the h4 */
}

h5 {
  margin-top: 0; /* Remove the space above the h4 */
  font-size: 20px; /* Adjust the size as needed */
  color: #000000; /* Grey text color */
  margin-bottom: 5px; /* Adjust the space below the h4 */
}

p {
  margin-top: 20px; /* Adjust the space above the paragraphs */
}

.header {
  display: flex; /* Use Flexbox to lay out children */
  justify-content: space-between; /* Space between the logo and the navigation bar */
  align-items: center; /* Center items vertically */
  /* padding: 10px 5%; /* Add some padding */
}

.logo img {
  /* If your logo is a text, you might want to use different styling */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Make sure the image is responsive */
}

/* Style for links */
a {
  text-decoration: underline; /* Underlines all links */
  color: #000000; /* Sets the link color */
}

/* Change the color for visited links */
a:visited {
  color: #000000; /* Slightly darker color for visited links */
}

.navbar {
  display: flex; /* Use Flexbox for the navigation links as well */
  justify-content: flex-end; /* Align the links to the right */
  gap: 5px; /* Space between the navigation links */
}

.navbar a {
  text-decoration: underline; /* Underline links */
  color: #000000; /* Your link color */
  font-size: 20px; /* Match the size to your design */
  padding: 5px 10px; /* Add some padding */
  font-family: Helvetica, Arial, sans-serif; /* Set font to Helvetica */
  font-weight: bold; /* Set font to bold */
}

.navbar a:hover {
  text-decoration: underline; /* Add an underline on hover for better UX */
}

blockquote {
  background-color: #ebebeb; /* Dark background color */
  border-left: 4px solid #58daed; /* Left border with your link color */
  margin: 1.5em 10px; /* Margin around the blockquote */
  padding: 10px 20px; /* Padding inside the blockquote */
  color: #000000; /* Text color */
  font-style: italic; /* Italicize the text */
}

blockquote p {
  margin: 0; /* Remove default margins from paragraphs inside blockquote */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack logo and navigation on small screens */
  }
}

/* Change the color for links */
a {
  color: #000000; /* Sets the link color */
}

a:hover {
  text-decoration: underline; /* Add an underline on hover for better UX */
}

@media (max-width: 768px) {
  body {
    padding-left: 11px; /* Slightly more padding on smaller screens */
    padding-right: 11px; /* Slightly more padding on smaller screens */
  }
}

/* For most browsers */
::selection {
  background: #78dbeb; /* Background color for selected text */
  color: black; /* Text color for selected text */
}

/* For Mozilla Firefox */
::-moz-selection {
  background: #78dbeb;
  color: black;
}

/* Centering images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
