body {
  font-family: monospace, "Courier New", Courier;
  font-size: 16px; /* Sets the font size to 16 pixels */
  margin: 5% 10%; /* Top and bottom margins set to 5%, left and right margins to 10% */
  text-align: left; /* Ensure all text is left-aligned */
  max-width: 700px; /* Maximum width of the content */
  margin-left: auto; /* Center the content block horizontally */
  margin-right: auto; /* Center the content block horizontally */
  padding-left: 2px; /* Adds padding to the left */
  padding-right: 2px; /* Adds padding to the right */
  background-color: #1c2022; /* Sets the background color */
  color: #eeeeee; /* Sets the text color */
  line-height: 1.5; /* Sets the line height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Apply Helvetica as the default font for headers */
  font-weight: bold; /* Make headers bold */
}

.header {
  display: flex; /* Use Flexbox to lay out children */
  justify-content: space-between; /* Space between the logo and the navigation bar */
  align-items: center; /* Center items vertically */
  /* padding: 10px 5%; /* Add some padding */
}

.logo img {
  /* If your logo is a text, you might want to use different styling */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Make sure the image is responsive */
}

/* Style for links */
a {
  text-decoration: none; /* Removes underlines from all links */
  color: #58daed; /* Sets the link color to #58daed */
}

/* Change the color for visited links */
a:visited {
  color: #419fae; /* Slightly darker color for visited links */
}

.navbar {
  display: flex; /* Use Flexbox for the navigation links as well */
  justify-content: flex-end; /* Align the links to the right */
  gap: 5px; /* Space between the navigation links */
}

.navbar a {
  text-decoration: none; /* Remove underlines from links */
  color: #58daed; /* Your link color */
  font-size: 18px; /* Match the size to your design */
  padding: 5px 10px; /* Add some padding */
  font-family: Helvetica, Arial, sans-serif; /* Set font to Helvetica */
  font-weight: bold; /* Set font to bold */
}

.navbar a:hover {
  text-decoration: underline; /* Add an underline on hover for better UX */
}

blockquote {
  background-color: #2e3133; /* Dark background color */
  border-left: 4px solid #58daed; /* Left border with your link color */
  margin: 1.5em 10px; /* Margin around the blockquote */
  padding: 10px 20px; /* Padding inside the blockquote */
  color: #eeeeee; /* Text color */
  font-style: italic; /* Italicize the text */
}

blockquote p {
  margin: 0; /* Remove default margins from paragraphs inside blockquote */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack logo and navigation on small screens */
  }
}

/* Style for links */
a {
  color: #58daed; /* Sets the link color to #5cc9eb */
}

a:hover {
  text-decoration: underline; /* Add an underline on hover for better UX */
}

@media (max-width: 768px) {
  body {
    padding-left: 11px; /* Slightly more padding on smaller screens */
    padding-right: 11px; /* Slightly more padding on smaller screens */
  }
}

/* For most browsers */
::selection {
  background: #78dbeb; /* Background color for selected text */
  color: black; /* Text color for selected text */
}

/* For Mozilla Firefox */
::-moz-selection {
  background: rgb(249, 249, 79);
  color: black;
}

.donation-container {
  display: flex;
  justify-content: space-around; /* This will space your items evenly */
}

.donation-box {
  border: 1px solid #58daed;
  padding: 10px;
  background-color: #222222;
  color: #58daed;
  margin: 10px; /* Adjust as needed for spacing */
  flex: 1; /* This will make both boxes take up equal space */
  width: calc(
    50% - 20px
  ); /* This accounts for the margin, assuming a 10px margin on each side */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
